<turbo-frame id="<%= dom_id(@round_user) %>">
  <div class="level round_user">
    <p class="level-left">
      <%= "#{@round_user.username}"%>
    </p>

    <div class="level-right">
      <% if @user_voted %>
        <%= render IconComponent.new(type: :check, alt: 'Ready') %>
      <% else %>
        <%= render IconComponent.new(type: :clock, alt: 'Not ready') %>
      <% end %>

      <%= button_to round_user_path(@round_user), method: :delete, data: {turbo_confirm: 'Are you sure?'} do %>
        <%= render IconComponent.new(type: :delete) %>
      <% end %>
    </div>
  </div>
</turbo-frame>
