<%= turbo_frame_tag task, class: "task" do %>
  <div class='title'>
    <%= task.title %>
  </div>

  <div class='state'>
    <%= task.state %>
  </div>

  <div class="round__actions">
    <%= button_to "Start", start_task_path(task), class: 'start' %>
    <%= link_to "Edit", edit_task_path(task), class: 'edit' %>
    <%= button_to "Delete", task_path(task), method: :delete, class: 'delete' %>
  </div>
<% end %>
