<%= turbo_stream_from "rounds" %>

<div class="level">
  <div class="level-left">
    <p class="level-item">
      <h1 class="title">Rounds</h1>
    </p>
  </div>

  <div class="level-right">
    <p class="level-item">
      <%= link_to "New round", new_round_path, data: { turbo_frame: "new_round" }, class: "button" %>
    </p>
  </div>
</div>

<%= turbo_frame_tag Round.new %>
<%= turbo_frame_tag "rounds" do %>
  <%= render @rounds %>
<% end %>
