<%= turbo_stream_from dom_id(@round) %>
<%= turbo_stream_from "round_#{@round.id}_user_#{current_user.id}" %>

<% current_task = @round.current_task %>
<% current_value = Estimation.find_by(user_id: current_user.id, task_id: current_task&.id)&.value %>

<p class="level title is-size-3"><%= @round.title %></p>

<div class="mt-6 level is-centered">
  <%= turbo_frame_tag 'estimation_panel' do %>
    <%= render(EstimationPanelComponent.new(current_task:, current_value:)) %>
  <% end %>
</div>

<div class="mt-6">
  <p class="level title is-size-5">
    Users
  </p>

  <%= turbo_frame_tag 'users_list' do %>
    <% round_users = @round.round_users.preload(:user) %>
    <% voted_user_ids = current_task&.estimations.to_a.pluck(:user_id) %>
    <% @round.round_users.each do |round_user| %>
      <%= render RoundUserComponent.new(round_user:, user_voted: voted_user_ids.include?(round_user.user_id)) %>
    <% end %>
  <% end %>
</div>

<div class="level mt-6">
  <p class="title is-size-5 level-item level-left">
    Tasks
  </p>
  <div class="level-right">
    <p class="level-item">
      <%= link_to "New task",
              new_round_task_path(@round),
              data: { turbo_frame: "modal" }, class: "button" %>
    </p>
  </div>
</div>

<%= turbo_frame_tag Task.new %>

<div class="mt-6">
  <%= turbo_frame_tag "tasks" do %>
    <%= render @round.tasks %>
  <% end %>
</div>
