<%= turbo_stream_from "round_#{@round.id}_round_users" %>
<%= turbo_stream_from "round_#{@round.id}_user_#{current_user.id}_estimation_panel" %>
<%= turbo_stream_from "round_#{@round.id}_users_list" %>
<%= turbo_stream_from "#{@round.to_gid_param}:tasks" %>

<%= link_to sanitize("&larr; Back to rounds"), rounds_path %>
<div>
  <div class="header">
    <h1>
      <%= @round.title %>
    </h1>
    <%= link_to "New task",
              new_round_task_path(@round),
              data: { turbo_frame: "new_task" } %>
  </div>

  <%= turbo_frame_tag Task.new %>

  <%= turbo_frame_tag "round_#{@round.id}_user_#{current_user.id}_estimation_panel" do %>
    <%= render EstimationPanel::Component.new(round: @round, user: current_user) %>
  <% end %>

  <%= turbo_frame_tag "round_#{@round.id}_users_list" do %>
    <%= render UsersList::Component.new(round: @round) %>
  <% end %>

  <%= turbo_frame_tag "round_#{@round.id}_tasks" do %>
    <%= render @round.tasks %>
  <% end %>
</div>
