<%= turbo_stream_from dom_id(@round) %>
<%= turbo_stream_from EstimationPanel::Component.round_per_user_dom_id(@round.id, current_user.id) %>

<%= link_to sanitize("&larr; Back to rounds"), rounds_path %>
<div>
  <div class="header">
    <h1>
      <%= @round.title %>
    </h1>
    <%= link_to "New task",
              new_round_task_path(@round),
              data: { turbo_frame: "new_task" } %>
  </div>

  <%= turbo_frame_tag Task.new %>

  <% current_task = @round.current_task %>

  <% task_id = current_task&.id %>
  <% value = Estimation.find_by(user_id: current_user.id, task_id: current_task&.id)&.value %>
  <%= render EstimationPanel::Component.new(task_id:, value:) %>

  <% round_users = @round.round_users.preload(:user) %>
  <% voted_user_ids = current_task&.estimations.to_a.pluck(:user_id) %>
  <%= render UsersList::Component.new(round_users:, voted_user_ids:) %>

  <%= turbo_frame_tag "tasks" do %>
    <%= render @round.tasks %>
  <% end %>
</div>
