<%= turbo_stream_from round_channel(@round.id) %>
<%= turbo_stream_from round_user_channel(@round.id, current_user.id) %>

<%= link_to sanitize("&larr; Back to rounds"), rounds_path %>
<div>
  <div class="header">
    <h1>
      <%= @round.title %>
    </h1>
    <%= link_to "New task",
              new_round_task_path(@round),
              data: { turbo_frame: "new_task" } %>
  </div>

  <%= turbo_frame_tag Task.new %>

  <% current_task = @round.current_task %>

  <%= turbo_frame_tag 'estimation_panel' do %>
    <% current_value = Estimation.find_by(user_id: current_user.id, task_id: current_task&.id)&.value %>
    <%= render(EstimationPanelComponent.new(current_task:, current_value:)) %>
  <% end %>

  <%= turbo_frame_tag 'users_list' do %>
    <% round_users = @round.round_users.preload(:user) %>
    <% voted_user_ids = current_task&.estimations.to_a.pluck(:user_id) %>
    <% @round.round_users.each do |round_user| %>
      <%= render RoundUserComponent.new(round_user:, user_voted: voted_user_ids.include?(round_user.user_id)) %>
    <% end %>
  <% end %>


  <%= turbo_frame_tag "tasks" do %>
    <%= render @round.tasks %>
  <% end %>
</div>
