<%= turbo_stream_from "round_#{@round.id}" %>
<%= turbo_stream_from "round_#{@round.id}_user_#{current_user.id}" %>

<%= link_to sanitize("&larr; Back to rounds"), rounds_path %>
<div>
  <div class="header">
    <h1>
      <%= @round.title %>
    </h1>
    <%= link_to "New task",
              new_round_task_path(@round),
              data: { turbo_frame: "new_task" } %>
  </div>

  <%= turbo_frame_tag Task.new %>

  <% current_task = @round.current_task %>

  <%= turbo_frame_tag "estimation_panel" do %>
    <%= render EstimationPanel::Component.new(task_id: current_task&.id, value: Estimation.find_by(user_id: current_user.id, task_id: current_task&.id)&.value) %>
  <% end %>

  <%= turbo_frame_tag "users_list" do %>
    <%= render UsersList::Component.new(round_users: @round.round_users.preload(:user), voted_user_ids: current_task&.estimations.to_a.pluck(:user_id)) %>
  <% end %>

  <%= turbo_frame_tag "tasks" do %>
    <%= render @round.tasks %>
  <% end %>
</div>
