<nav data-controller="navbar" class="navbar">
  <div class="navbar-start">
    <div class="navbar-item">
      <%= link_to 'All', rounds_path %>
    </div>

    <% Round.first(5).each do |r| %>
      <div data-navbar-target="item"
          data-turbo-prefetch="false"
          class="navbar-item <%= current_page?(round_path(r)) ? "active" : nil %>"
      >
        <%= link_to r.title, round_path(r), data: { "nav-target" => "roundLink" } %>
      </div>
    <% end %>
  </div>

  <div class="navbar-end">
    <div class="navbar-item">
      <div class="field is-grouped">
        <% if user_signed_in? %>
          <%= link_to current_user.email, edit_user_registration_path %>
          <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Sign in", new_user_session_path %>
          <%= link_to "Sign up", new_user_registration_path %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
