<!DOCTYPE html>
<html>
  <head>
    <title>PokerPlan</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body>
    <div id="nav" class="nav">
      <%= render "layouts/nav" %>
    </div>

    <div id="flash" class="flash"></div>

    <div class="p-6">
      <%= yield %>
    </div>

    <%= turbo_frame_tag "modal" %>
  </body>
</html>
